body{
	background: rgba(0,0,0,.8);
}
.container-fluid{
	margin: 10% auto;
	color: #fff;
}
.container{
	width: 800px;
	height: auto;
	text-align: center;
	display: block;
}
.tweet{
	pointer-events: disabled;
}
a{
	color: #999;
	font-weight: 600;
}
a:hover{
	color: #fff;
	text-decoration: none;
}